.places {
    margin: auto;
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 987px;
}


.place {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 90px;

}

.place__title {
    color: #FFF;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    max-width: 421px;
    margin-bottom: revert;
}

.place__url {
    margin-block: auto;
}

.place__url-heading {
    color: #AAA;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.place__artist {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    max-width: 456px;
    margin: revert;
}

.place__imagen {
    width: 460px;


}

.place__paragraph-text {
    max-width: 484px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
    padding-bottom: 16px;

}

.place__button {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #0063d2;
    position: relative;
    text-align: center;
    margin-top: 61px;


}

.place__button:hover {
    background-color: #0052a1;
    transform: scale(1.05);
    transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
 

    .place__imagen {
        max-width: 320px;
        width: 320px;
      

    }

    .place__paragraph-text {
        max-width: 288px;
        font-size: 16px;
        line-height: 163%;
    }

    .place {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-top: 31px;
    }

    .place__title {
        max-width: 288px;
        height: 35px;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
        font-style: normal;
    }

    .place__url-hading {
        font-size: 12px;
        max-width: 288px;
        line-height: 15px;
        font-weight: 400;
        letter-spacing: 1.44px;
    }

    .place__artist {
        max-width: 288px;
        line-height: 44px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    


    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
    }

    .place {
        grid-template-columns: minmax(min-content, 340px) 1fr;
        gap: 28px;
       
    }

    .place__title {
        max-width: 340px;
        font-size: 42px;
        font-weight: 900;
        line-height: 46px;
        font-style: normal;
    }

    .place__url-hading {
        font-size: 12px;
        max-width: 58px;
        line-height: 15px;
        font-weight: 400;
        letter-spacing: 1.44px;

    }

    .place__artist {
        max-width: 295px;
        line-height: 44px;
    }


}